*{
    margin: 0;
    padding:0;
    font-family: 'VT323', sans-serif;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

a {
    color: #000;
}

/* header */

.header {
    background-color: #222222;
    box-shadow: 1px 1px 4px 0 #00f7ff;
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 100px;
}

.search-img {
    height: 50px;
    width: auto;
    display: block;
    margin-left: 25px;
}

.search-item {
    display: inline-block;
    width: 100%;
}

.search-txt {
    font-family: "Space Mono";
    color: #00f7ff;
    font-size: x-small;
    display: block;
    margin-left: 10%;
    margin-top: 10px;
    width: 80px;
}


.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #222222;
    font-family: VT323;

}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;

}

.header li a:hover,
.header .menu-btn:hover {
    color: #ff00e6;
}

.header li a:active,
.header .menu-btn:active {
    color: #00f7ff;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    float: right;
    margin: 0;
    display: none;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 0 20px;
    padding-top: 28px;
    position: relative;
    user-select: none;

}

.header .menu-icon .navicon {
    background: #00f7ff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    margin: 0 20px;
    margin-top: 20px;
}
.nav-item {
    padding: 5px 0;

}

.search-bar {
    display: flex;
    border-radius: 100px;
    overflow: hidden;
    font-size: 1.25em;
    padding: 3px;
    position: relative;
    size: 40px;
    background: white;
    margin-top: 15px;
    font-family: "Space Mono";
    height: 25px;
    width: 20%;
    transition: width 300ms ease-in-out;
    margin-left: 5px;
}



.search_input {
    border: transparent;
    padding: 1px;
    flex-grow: 1;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(100% - 35px) !important;
    outline: transparent;
    cursor: pointer !important;
    line-height: 25px;
    font-size: 1rem;
    padding-left: 5px;
}

input {
    border: transparent;
    font-family: "Space Mono";
    outline: transparent;
    padding: 5px;
}

li {
    display: inline-block;
    text-decoration: none;
}

.search_button {
    font-size: 1rem;
    background: #ff00e6;
    border: 0;
    cursor: pointer;
    border-radius: 120px;
    transition: background 200ms ease-out;
    width: 25px;
    height: 25px;
    margin-left: calc(100% - 25px) !important;
}
#search_input {
    width: 90%;
    font-family: "Space Mono";
    border-radius: 50px;
}


.search-bar:focus-within, {
    box-shadow: 0 0 5px;
    width: 90% !important;
    margin-bottom: 15px;
}

.search_input:valid ~ .search-bar{
    box-shadow: 0 0 5px;
    width: 90% !important;
    margin-bottom: 15px;
}

.search-bar:focus-within ~ .gift-card-search-results {
    display: grid !important;
}

.search_input:not(:placeholder-shown) ~ .gift-card-search-results {
    display: grid !important;
}


.search-bar:focus-within > .search_button {
    background: #00f7ff;
    color: #ff00e6;
    margin-left: calc(100% - 25px) !important;

}

.search-bar:focus-within > .search_input {
    font-size: 1rem;
    padding-left: 5px;
    width: calc(100% - 35px) !important;
    cursor: initial !important;
    background: transparent;

}

.menu-icon.search-bar:focus-within > nav-item {
    display: none;
}

.search-bar > .search_button:hover, .search-bar > .search_button:hover {
    outline: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

}

.console-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.console-control input[type="radio"]:checked + label {
    background-color: white;
    color: #ff00e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
    margin-top: 8px;

}

.submit_button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.isdisabled {
    cursor: not-allowed !important;
    color: #00bac0;
}

.search-bar > .search_input:focus-within {
    z-index: initial;
    cursor: initial;
}






.search__submit {
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    transition: background-color 500ms ease-out;
}

.search__submit:hover,
.search__submit:focus {
    outline: 0;
    transform: rotate(1turn);
    box-shadow: 0 0 10px rgba(0,0,0,.65);
}


.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #ff00e6;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
    margin: 20px;
}

.header .menu-btn:checked ~ .menu {
    max-height: 450px;
    float: right;
    display: block;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.buffer {
    width: 5px;
}

.right {
    float: right !important;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 20px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: 100px;
        width: 75%;
        display: block;
    }
    .header .menu-icon {
        display: none;
    }

    .home-page {
        padding-top: 0px;
    }

    .content-page {
        padding-top: 0px;
    }

    .prod-container {
        padding-top: 0px;
    }
    .header .menu .search-bar:focus-within {
        width: 20% !important;
        margin-bottom: 10px !important;
    }

    .gift-card-search-results {
        margin-top: 105px !important;
        margin-left: 50% !important;
        min-width: 200px !important;
        width: 40% !important;
    }
}


.nav-buffer {
    height: 100px;
    color: #222222;
}

.search {
    width: 100%;
    height: 100%;
    display: flex;
}

.home-page {
    padding-top: 60px;
}

.container {
    width: 400px;
    height: 30px;
    background: white;
    border: 1px solid gray;
    border-radius: 20px;
}


.content {
    padding: 20px 150px;
    height: 100%;
    display: flex;
    font-family: 'Space Mono';
    color: white;
    display: block;
    position: center;
    text-align: center;
    align-content: center;
}

.about-content {
    padding: 20px 20px;
    height: 100%;
    display: flex;
    font-family: 'Space Mono';
    color: #222222;
    display: block;
    position: center;
    text-align: center;
    align-content: center;
}

.col-md-6 {
    width: 100%;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}



.checkout-container-left{
    display: inline-block;
    width: 45%;
}

.checkout-container-right{
    display: inline-block;
    width: 45%;
    margin-left: 20px;
    text-align: right;
}

.left-white {
    color: white;
    margin-left: 20px;
}

checkout-row. {
    display: inline-block;
    width: 100%;
}
.button {
    background-color: #ff00e6;
    border-radius: 25px;
    font-size: 30px;
    height: 40px;
    border: none;
    padding: 10px;
    width: 190px;
    color: white;
    text-decoration: none;
}

.drop a{
    text-align: right;
}

.drop a span{
    font-size: 10px;
}

.drop ul li{
    position: relative;
}

.central-buffer {
    padding-bottom: 10px;
    display: inline-block;
    width: 45%;
    margin: 0 25%;
    margin-top: 40px;
}

.accountimg {
    height: 190px;
    width: auto;
    margin-left: 40px;
    float: right;
}


.accountcimg {
    height: 250px;
    width: auto;
    margin-left: 40px;
    float: right;
}

.central {
    text-align: center;
}
.central-form {
    text-align: center;
    width: 100%;
    position: center;
}

.central-login-form {
    text-align: center;
    width: 100%;
    position: center;
}

.button-pink-b {
    background-color: #ff00e6;
    border-radius: 25px;
    font-size: 20px;
    height: 30px;
    border: none;
    padding: 10px;
    display: inline-flex;
    width: 170px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.button-pink {
    background-color: #ff00e6;
    border-radius: 25px;
    font-size: 20px;
    height: 30px;
    border: none;
    display: inline-block;
    width: 170px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 10px;
}

button {
    background-color: #ff00e6;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    padding: 0 5px;
    margin: 0 20px;
    margin-bottom: 10px;
}

.is-pink {
    color: #ff00e6;
    padding-bottom: 10px !important;
}

.contact-page-layout {
    display: inline-block;
    width: 40%;
    overflow: no-display;
    height: 100%;
    margin-left: 15px;
}

.mapouter {
    text-align: left !important;
}



.is-blue {
    color: #00f7ff;
}

.cent {
    text-align: center;
    display: inline-block;
}

#center {
    display: block;
    margin: 10px;
}
button:hover {
    background-color: #00f7ff;
}

.icon {
    height: 30px;
    width: auto;
}

svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 0;
}

.home-page{
    background-color: #00f7ff;
}

.content-page {
    background-color: #222222;
    padding-top: 100px;
    width: 100%;
    height: 80%;
}

.prod-container {
    background: #ededed;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
}

.prod-box {
    padding: 3rem 1.5rem;
}

.prod-columns {
    display: inline-block;
    width: 100%;
}

.prod-column {
    flex: none;
    width: 30%;
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.purchase-column {
    width: 50%;
    display: inline-flex;
}

.prod-label {
    margin-bottom: .5em;
    font-weight: 500;
    color: #ff00e6;
    display: block;
    font-size: 1rem;
    font-family: "Space Mono";
    margin-left: 5px;
}

.console-control {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

.con-rad-cont {
    opacity: 0;
    position: fixed;
    width: 0;
}

.submit_button_control {
    padding: 10px 0 0;
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

.submit_button {
    background: #00f7ff;
    border-color: transparent;
    margin-right: 5px;
    font-weight: 500 !important;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding: 0 1em;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5rem;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    margin-left: 5px;
    text-decoration: none;
}

.prod-info-container {
    padding: 3rem 1.5rem;
    display: block;
    box-sizing: inherit;
    overflow: hidden;
}

.prod-info-columns {
    display: flex;
    margin: -.75rem;
    box-sizing: inherit;
    width: 60%;
}

.panel {
    margin-bottom: 1.5rem;
    border-radius: 6px;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    font-size: 1rem;
    box-sizing: inherit;
}

.panel-heading {
    font-weight: 500;
    background-color: #00f7ff;
    border-radius: 6px 6px 0 0;
    color: black;
    font-size: 1.25em;
    line-height: 1.25;
    padding: .75em 1em;
    margin: 0;
    box-sizing: inherit;
}

.panel-block {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    align-items: center;
    color: black;
    justify-content: flex-start;
    padding: .5em .75em;
    box-sizing: inherit;
    font-family: "Space Mono";
    font-size: smaller;
}

.prod-info-column {
    flex: none;
    width: 60%;
    display: block;
    padding: .75rem;
    box-sizing: inherit;
    width: 100%;
}

.prod-side-container {
    display: block;
    box-sizing: inherit;
    flex: none;
    width: 60%;
    align-items: center;
}

.product-content {
    margin-bottom: 1.5rem;
    font-family: "Space Mono";
    font-size: smaller;
    width: 100%
}

.prod-in-container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: inline-block;
}

.console-button {
    font-weight: 700;
    padding: 6px 6px;
    border-radius: 7px;
    width: 75px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    background-color: #ff00e6;
}

.prod-title {
    margin-bottom: 0 !important;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    margin-left: 5px;
}

.price {
    font-family: "Space Mono";
    margin-left: 5px;
}

.prod-img {
    border-radius: 13px;
    border: 4px solid white;
    max-width: 100%;
    max-height: 180px;
}

.container-prod {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.hero-image {
   max-width: 100%;
    height: auto;
    width: auto;
    margin: auto;

}


.hero {
    width: 100%;
    height: auto;

}
.pop-console {
    margin: 0;
    min-height: 250px;
    height: auto;
    background-color: #00f7ff;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border: 100px #222222;
    font-size: 20px;
}

.gift-card-search-results {
    position: absolute;
    width: 200px !important;
    border-color: #dbdbdb;
    color: #363636;
    border-radius: 12px;
    top: 100%;
    margin-top: 70px;
    padding: 15px 1em;
    box-shadow: 1px 7px 6px rgba(0, 0, 0, .2);
    max-height: 450px;
    overflow-y: scroll;
    z-index: 1000;
    display: none;
    margin-left: 50px;
}

.search-display {
    display: flex !important;
    padding: 10px 5px !important;
}

.us-block {
    margin: 0;
    min-height: 200px;
    height: auto;
    background-color: #00f7ff;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border: 100px #222222;
    font-size: 20px;
}

input:invalid {
    border-radius: 2px solid red;
}

#message {
    display: none;
    font-size: 15px;
    margin-left: 20px;
    background-color: white;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
}

#message p {
    font-family: "Space Mono";
}

#message b {
    font-family: "Space Mono";
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    content: "✔";
}

.invalid {
    color: red !important;
}

.account_created_page {
    display: inline-flex;
    width: 100%;
}

.account_created_container {
    width: 40%;
    margin: 4%;
    display: block;
}

.invalid:before {
    position: relative;
    content: "✖";
}

.message-content-block {
    margin: 15px;
    min-height: 50px;
    height: auto;
    background-color: #222222;
    color: #ff00e6;
    text-align: justify;
    padding: 15px;
    border: 100px #222222;
    font-size: 20px;
}

.form-style {
    border-radius: 25px;
    height: 10px;
    width: 90%;
    padding: 5px;
    font-family: "Space Mono";
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
    overflow: no-content;
    padding-left: 7px;
    font-size: 10px;
}

h1 {
    padding-bottom: 5px;
}

.form-style-txt {
    height: 150px;
    border-radius: 15px;
    width: 90%;
    padding: 5px;
    font-family: "Space Mono";
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
    overflow: no-content;
    font-size: 10px;
    padding-left: 7px;
}

.about-content {
    font-size: 10px;
    font-family: "Space Mono";
}

.partner-block {
    margin: 0;
    min-height: 200px;
    height: auto;
    background-color: #222222;
    color: #00f7ff;
    text-align: center;
    padding: 20px;
    border: 100px #222222;
    font-size: 20px;
}

.team-block {
    margin: 0;
    min-height: 200px;
    height: auto;
    background-color: #ffcc00;
    color: #ff00e6;
    text-align: center;
    padding: 20px;
    border: 100px #222222;
    font-size: 20px;
}

.partner-block-img {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 100px;
    max-width: 100px;
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}

.pop-console-img {
    border-radius: 25px;
    display: inline-flex;
    max-height: 150px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    margin-inline: 1em 2em;
    border: 4px solid transparent;
}

.pop-console-container {
    width: auto;
    padding: calc((width / 5px) - 150px);

}

.prods {
    display: block;
    width: 100%;
}

.right {
    float: right;
    overflow: no-display;
}

.left {
    float: left;
}

.filter {
    width: 85%;
    height: auto;
    color: #222222;
    background-color: #00f7ff;
    border-radius: 15px;
    padding: 10px;
    position: sticky;
    display: block;
    margin-top: 30px;
    margin-left: 10px;
}

.fit-container {
    display: block;
    overflow: auto;
    width: 30%;

}

.product-container {
    display: block;
    overflow: auto;
    width: 69%;

}

.pop-console-img:hover {
    border: 4px solid #ffffff;
}

.game-of-month-img:hover {
    border: 4px solid #ffffff;
}

.top-games-img:hover {
    border: 4px solid #ffffff;
}

.games-img:hover {
    border: 4px solid #ffffff;
}

.game-of-month {
    margin: 0;
    min-height: 100px;
    height: auto;
    background-color: #222222;
    color: #ff00e6;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}


.game-of-month-img {
    border-radius: 25px;
    display: inline-block;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 20px;
    position: center;
    border: 4px solid transparent;
    overflow: hidden;
}

.top-games {
    margin: 0;
    min-height: 300px;
    height: auto;
    background-color: #ff00e6;
    color: #00f7ff;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.top-games-img {
    border-radius: 25px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 5px;
    position: relative;
    border: 4px solid transparent;
    vertical-align: middle !important;
}

.games-img {
    border-radius: 25px;
    display: inline-block;
    margin-right: 20px;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 5px;
    position: relative;
    border: 4px solid transparent;
    vertical-align: middle !important;
}

.img:before {
    content: attr(data-count);
    position: absolute;
    color: white;
    right: 16px;
    font-size: 15px;
    text-align: center;
    top: -12px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    opacity: 0;

}

.team-img {
    border-radius: 60px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    height: 120px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 5px;
    position: relative;
}

.games-txt {
    font-family: 'Space Mono';
    color: white;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-content: center !important;
    word-wrap: normal;
    max-width: 120px;
    height: 40px;
    width: 100%;
}

.form-txt {
    font-family: 'Space Mono';
    color: white;
    font-size: 10px;
    margin-left: 25px;
    margin-right: 10px;
    text-align: center;
    align-content: center !important;
    word-wrap: normal;
    max-width: 120px;
    height: 40px;
    width: 100%;
}

.a-content {
    font-family: 'Space Mono';
    color: white;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-content: center !important;
    word-wrap: normal;
    height: 40px;
    width: 80%;
}

.game-containter {
    text-decoration: none;
}

.top-games-txt {
    font-family: 'Space Mono';
    color: white;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-content: center !important;
    word-wrap: normal;
    max-width: 120px;
    height: 40px;
}

.top-games-txt:hover {
    color: black;
}

.products-games-txt {
    font-family: 'Space Mono';
    color: white;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-content: center !important;
    word-wrap: normal;
    max-width: 120px;
    height: 40px;
}

.products-games-txt:hover {
    color: #ff00e6;
}

.playstation-games-txt {
    font-family: 'Space Mono';
    color: white;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-content: center !important;
    word-wrap: normal;
    max-width: 120px;
    height: 40px;
}

.playstation-games-txt:hover {
    color: #00f7ff;
}

.pc-games-txt {
    font-family: 'Space Mono';
    color: white;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-content: center !important;
    word-wrap: normal;
    max-width: 120px;
    height: 40px;
}

.pc-games-txt:hover {
    color: #ffcc00;
}

.out-of-stock {
    color: #FF2856;
    margin-left: 5px;
}

.team-name {
    color: black;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.team-role {
    font-family: 'Space Mono';
    color: black;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.top-games-entry {
    display: inline-flex;
    height: 180px;
}

.team-entry {
    display: inline-block;
}

.footer {
    margin: 0;
    min-height: 200px;
    height: auto;
    background-color: black;
    text-align: center !important;
    font-size: 20px;
    width: 100%;
}

.social {
    text-align: left;
}

.footer-column {
    margin: auto;
    color: white;
    width: 80%;
    min-width: 100px;
    padding: 0 15px;
    text-align: center;
    align-content: center;
    display: grid;
    justify-items: center;

}

@media (min-width: 40em) {
    .footer-column {
        display: block;
        width: 25%;
    }

    .footer {
        display: inline-flex;
    }
}

.link-controler {
text-align: center;
}

.footer-logo {
    height: 50px;
    left: 0;
    margin-top: 10px;
}

.footer-content {
    font-family: 'Space Mono';
    color: white;
    font-size: 10px;
    margin-right: 10px;
    width: 200px;
    padding-bottom: 10px;
    left: 0;
    text-align: center;
}

.footer-social {
    height: 20px;
    float: left;
}

.footer-info-link {
    font-family: 'Space Mono';
    color: #ff00e6;
    font-size: 10px;
    margin-right: 10px;
    width: 100%;
    padding-bottom: 10px;
    list-style-type: none;
    text-decoration: none;
    max-height: 20px;
    display: block;
    max-width: 200px;
}

.footer-info-link-final {
    font-family: 'Space Mono';
    color: #ff00e6;
    font-size: 10px;
    margin-right: 10px;
    width: 200px;
    list-style-type: none;
    text-decoration: none;
}

.footer-info-title {
    color: #ff00e6;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    align-content: center;
    width: 100%;
    max-width: 200px;
}

.footer-pop-link {
    font-family: 'Space Mono';
    color: #00f7ff;
    width: 100%;
    font-size: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    text-decoration: none;
    display: block;
    max-width: 200px;
}

.footer-pop-link-final {
    font-family: 'Space Mono';
    color: #00f7ff;
    font-size: 10px;
    margin-right: 10px;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    display: block;
    max-width: 200px;
}

.footer-pop-title {
    color: #00f7ff;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    max-width: 200px;
}

.footer-info-link:hover {
    color: white;
}

.footer-info-link:active {
    color: #00f7ff;
}

.footer-pop-link:hover {
    color: white;
}

.footer-pop-link-final:hover {
    color: white;
}

.footer-pop-link:active {
    color: #ff00e6;
}

.def-back {
    background-color: #222222;
    height: 100%;
}

.full-logo {
    height: 400px;
    width: auto;
    margin: auto;
    position: center;
    display: block;
}

.table-wrapper {
    width: auto;
    background-color: #ffcc00;
    padding: 20px 30px 5px;
    margin: 30px auto;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.7);
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
}

.basket-page {
    background-color: #222222;
    height: 100%;
}

.is-white {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    position: center;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.a-title {
    color: white;
    font-size: 20px;
    position: center;
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.drop ul li.active .dropdown-content {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.is-white-left {
    color: white;
    font-size: 15px;
    margin-left: 30px;
    position: center;
    display: block;
    margin-top: 5px;
}

.table-wrapper .btn-group {
    float: right;
}

.input-trans {
    width: 15px;
    height: 15px;
    text-align: center;
}

.basket-txt-r {
    color: white;
    padding: 25px 0;
    width: 90%;
    text-align: right;
}

.basket-txt {
    color: white;
    padding: 25px 0;
    width: 90%;
}

.basket-total {
    display: inline-flex;
    width: 100%;
}

.basket-item {
    display: inline-block;
}

.basket-sub-item {
    width: 40%;
    display: flex;
    margin-left: 5%;
}
.basket-sub-item-r {
    width: 40%;
    display: flex;
    margin-left: 5%;
    float: right;
}

.basket-item-i {
    display: inline-block;
    margin-left: 3%;
}

.basket-item-l {
    display: inline-block;
    width: 10%;
    margin: 0 5%;
}

.button-trans {
    color: #222222;
    background-color: #e9e9e9;
    border-radius: 5px;
    height: 25px;
    padding: 0 5px;
    margin: 0 3%;
    text-decoration: none;
}

.bas-cont {
    display: inline-flex;
    width: 100%;
}

.content-column {
    display: inline-block;
}

.content-column-left {
    display: flex;
    width: 40%;

}

.content-column-right {
    display: block;
    width: 60%;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.basket-number {
    background-color: red;
    font-family: "Space Mono";
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    color: black;
}

.right-align {
    float: right;
    background-color: #ffcc00;
    border-radius: 25px;
    font-size: 20px;
    height: 30px;
    border: none;
    padding: 10px;
    display: block;
    width: 140px;
    horiz-align: center;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 250px;
}

.white-btn {
    background-color: #ffffff;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    width: 160px;
    color: #ff00e6;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    padding: 5px;
}

.yellow-btn{
    background-color: #ffcc00;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    width: 160px;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.b-but {
    display: flex;
}

.yellow-btn-b {
    background-color: #ffcc00;
    border-radius: 25px;
    font-size: 20px;
    height: 30px;
    border: none;
    padding: 10px;
    display: inline-flex;
    width: 170px;
    color: white;
    text-decoration: none;
    margin-left: 250px;
    text-align: center;
    margin-bottom: 10px;
}

.table-title .btn {
    min-width: 50px;
    border-radius: 1px;
    border: none;
    padding: 6px 12px;
    font-size: 95%;
    outline: none !important;
    height: 30px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.7);
}

.table-title {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 15px;
    background: rgb(0,50,74);
    margin: -20px -31px 10px;
    padding: 15px 30px;
    color: #ffffff;
}

.table-title h2 {
    margin: 2px 0 0;
    font-size: 24px;
}

table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}

table.table tr th:first-child {
    width: 40px;
}

table.table tr th:last-child {
    width: 100px;
}

table.table-striped tbody tr:nth-last-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table td a {
    color: #2196f3;
}
table.table td .btn.manage {
    padding: 2px 10px;
    background: #222222;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    text-decoration: none;
}
table.table td .btn.manage:hover {
    background: #2e9c81;
}

.btn {
    font-family: "Space Mono";
    font-size: 15px;
}

td {
    font-family: "Space Mono";
    font-size: 10px;
}

.buffer-space {
    background-color: #222222;
    min-height: 50px;
    width: auto;
}
